extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/book.css")
  script(src='/javascripts/ratings.js' type='module')

block content
    .main
        .book-card
            img.book-cover(src=book.coverPhoto alt='test')

            if locals.authenticated
                .rating
                    input#star5.star(type='radio' name='rating' value='5')
                    label(for='star5' title='text') 5 stars
                    input#star4.star(type='radio' name='rating' value='4')
                    label(for='star4' title='text') 4 stars
                    input#star3.star(type='radio' name='rating' value='3')
                    label(for='star3' title='text') 3 stars
                    input#star2.star(type='radio' name='rating' value='2')
                    label(for='star2' title='text') 2 stars
                    input#star1.star(type='radio' name='rating' value='1')
                    label(for='star1' title='text') 1 star

            if !locals.authenticated
                p.notloggedtext Please Log In or Register to add a rating and write a review!

            p.ratetext#rateThisBookText

            if locals.authenticated && !userReviews.length
                form.form(method="post" action=`/books/${bookId}/reviews/add/`)
                    input(name="_csrf" type="hidden" value=csrfToken)
                    button.button Write a Review

            if bookshelves
                .add-to-bookshelf
                    form.addtoshelfform(method="post" action=`/books/${book.id}/bookshelves`)
                        select.dropdownbookshelf(name="bookshelfId")
                            each bookshelf in bookshelves
                                option(value=bookshelf.id)= bookshelf.name
                        input(name="_csrf" type="hidden" value=csrfToken)
                        button.addreview.button Add


        .text
            .title= book.title
            .head
                .author= book.Author.name
                if average >= 1 && average < 2
                    p.rateStars  ★#[span.blackstar ★★★★]#[span.avgrating=averageTwoDec]
                if average >= 2 && average < 3
                    p.rateStars  ★★#[span.blackstar ★★★]#[span.avgrating=averageTwoDec]
                if average >= 3 && average < 4
                    p.rateStars  ★★★#[span.blackstar ★★]#[span.avgrating=averageTwoDec]
                if average >= 4 && average < 5
                    p.rateStars  ★★★★#[span.blackstar ★]#[span.avgrating=averageTwoDec]
                if average === 5
                    p.rateStars  ★★★★★#[span.avgrating=averageTwoDec]
                .summary= book.summary
            .genre= book.Genre.name

            .authorpicdiv
                .imgauthor
                    img.authorpic(src=book.Author.photo alt='test')
                .authorname= book.Author.name
                .authorbio= book.Author.biography

            .reviewbox
                if reviews.length
                    each review in reviews
                        .review
                            .reviewtext
                                p.username= `${review.User.username}:`
                                p.review-header= review.reviewHeader
                                p.review-body= review.reviewBody

                            .actions
                                if userId  === review.userId
                                    .dropdown
                                        button.dropbutton ...
                                            form(method="get" action=`/books/${bookId}/reviews/edit/${bookId}`)
                                                input(name="_csrf" type="hidden" value=csrfToken)
                                                button.dropdown-content Edit

                                            form(method="post" action=`/books/${bookId}/reviews/delete/${bookId}`)
                                                input(name="_csrf" type="hidden" value=csrfToken)
                                                button.dropdown-content Delete
