extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/bookshelf.css")

block content
    .catalog
        .bookshelf-head
            div.page-title= bookshelf.name
            .alter-bookshelf
                form(method="get" action=`/bookshelves/edit/${bookshelf.id}`)
                    input(name="_csrf" type="hidden" value=csrfToken)
                    button Edit
                form(method="post" action=`/bookshelves/delete/${bookshelf.id}`)
                    input(name="_csrf" type="hidden" value=csrfToken)
                    button Delete

    table.bookshelf-table
        thead
            tr
                th.book-cover cover
                th.book-title title
                th.book-author author
                th.book-avg avg rating
                th.user-rating rating
                th.date-added date added
                th.remove-book
        tbody
            if books
                each book in books
                    tr
                        td
                            img.book-cover(src=book.book.coverPhoto alt='book-cover')
                        td.book-title= book.book.title
                        td.book-author= book.book.Author.name
                        td.book-avg= book.avgRating
                        td.user-rating= book.userRating
                        td.date-added= book.dateAdded
                        td.remove-book
                            form(method="post" action=`/bookshelves/${bookshelf.id}/books/${book.book.id}/delete`)
                                input(name="_csrf" type="hidden" value=csrfToken)
                                button Remove
