extends layout.pug

block content
  h1 Books
    ul
      each book in books
        li
          .book-element
            a(href=`/books/${book.id}`)
              img(src=book.coverPhoto alt='test')
              h5= book.title
              h6= book.Author.name
            if bookshelves
              .add-to-shelf
                p Bookshelf:
                form(method="post" action=`/books/${book.id}/bookshelves/`)
                  select(name="bookshelf")
                    each bookshelf in bookshelves
                      option(value=bookshelf.id)= bookshelf.name
                  button Add
