extends layout.pug

block content
    h1= book.title
    h2= book.Author.name
    h3= book.Genre.name
    .rating
        if !locals.authenticated
            input#star5d(class="star-disabled" type='radio' disabled='true' name='rating' value='5')
            label(for='star5' title='text') 5 stars
            input#star4d(class="star-disabled" type='radio' disabled='true' name='rating' value='4')
            label(for='star4' title='text') 4 stars
            input#star3d(class="star-disabled" type='radio' disabled='true' name='rating' value='3')
            label(for='star3' title='text') 3 stars
            input#star2d(class="star-disabled" type='radio' disabled='true' name='rating' value='2')
            label(for='star2' title='text') 2 stars
            input#star1d(class="star-disabled" type='radio' disabled='true' name='rating' value='1')
            label(for='star1' title='text') 1 star

        if locals.authenticated
            input#star5(class="star" type='radio' name='rating' value='5')
            label(for='star5' title='text') 5 stars
            input#star4(class="star" type='radio' name='rating' value='4')
            label(for='star4' title='text') 4 stars
            input#star3(class="star" type='radio' name='rating' value='3')
            label(for='star3' title='text') 3 stars
            input#star2(class="star" type='radio' name='rating' value='2')
            label(for='star2' title='text') 2 stars
            input#star1(class="star" type='radio' name='rating' value='1')
            label(for='star1' title='text') 1 star
    //- h4= book.Rating.value
    img(src=book.coverPhoto alt='test')

    if reviews.length
        each review in reviews
            .review
                p.username= review.User.username
                p.review-header= review.reviewHeader
                p.review-body= review.reviewBody

            if userId  === review.userId
                form(method="get" action=`/books/${bookId}/reviews/edit/${bookId}`)
                    input(name="_csrf" type="hidden" value=csrfToken)
                    button Edit

                form(method="post" action=`/books/${bookId}/reviews/delete/${bookId}`)
                    input(name="_csrf" type="hidden" value=csrfToken)
                    button Delete
    if locals.authenticated
    form(method="get" action=`/books/${bookId}/reviews/add/`)
        input(name="_csrf" type="hidden" value=csrfToken)
        button Add Review

    script(src='/javascripts/ratings.js' type='module')
