extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  br
  h1= title
  br
  div.main-container
    section.column-1 Suggested Books:
      br
      br
      div.random-book
        img.random-book-cover(src=`${randomBook.coverPhoto}`)
      p.suggested-book-title= randomBook.title
      //- p.suggested-book-rating= randomBook.rating
      br
      button.next-book-btn Next Suggestion
      br
      div.random-book2
        img.random-book-cover-mid(src=`${randomBook2.coverPhoto}`)
      p.suggested-book-title-mid= randomBook2.title
      br
      button.next-book-btn Next Suggestion
      br
      div.random-book3
        img.random-book-cover-end(src=`${randomBook3.coverPhoto}`)
      p.suggested-book-title-end= randomBook3.title
      br
      p.random-book-id= randomBook.id
      p.random-book2-id= randomBook2.id
      p.random-book3-id= randomBook3.id

      button.next-book-btn Next Suggestion
    section.column-2
      each review in reviews
        div.review-container
          div.book-cover
            img(src=`${review.Book.coverPhoto}`) 
          div.text-container
            p.user <span>#{review.User.username}</span> reviewed <span>#{review.Book.title}</span>:
            br
            p.review= review.reviewBody
    
  p Welcome to your Project Skeleton
