extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/main.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  br
  h1= title
  br
  div.main-container
    section.column-1 Suggested Books:
      .book-card
        a.random-book(href=`/books/${randomBook.id}`)
          img.random-book-cover(src=`${randomBook.coverPhoto}`)
        a.random-book(href=`/books/${randomBook.id}`)
          p.suggested-book-title= randomBook.title
        //- p.suggested-book-rating= randomBook.rating
        br
        button.next-book-btn Next Suggestion
      .book-card
        a.random-book-2(href=`/books/${randomBook2.id}`)
          img.random-book-cover-mid(src=`${randomBook2.coverPhoto}`)
        a.random-book-2(href=`/books/${randomBook2.id}`)
          p.suggested-book-title-mid= randomBook2.title
        br
        button.next-book-btn Next Suggestion
      .book-card
        a.random-book-3(href=`/books/${randomBook3.id}`)
          img.random-book-cover-end(src=`${randomBook3.coverPhoto}`)
        a.random-book-2(href=`/books/${randomBook3.id}`)
          p.suggested-book-title-end= randomBook3.title
        br
        button.next-book-btn Next Suggestion
      p.random-book-id= randomBook.id
      p.random-book2-id= randomBook2.id
      p.random-book3-id= randomBook3.id

    section.column-2
      each review in reviews
        div.review-container
          div.book-cover
            a(href=`/books/${review.Book.id}`)
              img(src=`${review.Book.coverPhoto}`)
          div.text-container
            .user
              .username
                span= review.User.username
              p= " reviewed "
              span
                a(href=`/books/${review.Book.id}`)= review.Book.title
            br
            p.review= review.reviewBody
