extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/main.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  div.main-container
    section.column-1 Suggested Books:
      br
      br
      div.random-book
        img.random-book-cover(src=`${randomBook.coverPhoto}`)
      p.suggested-book-title= randomBook.title
      br
      button.next-book-btn Next Book
    section.column-2
      each review in reviews
        div.review-container
          div.book-cover
            img(src=`${review.Book.coverPhoto}`)
          div.text-container
            p.user <span>#{review.User.username}</span> reviewed <span>#{review.Book.title}</span>:
            br
            p.review= review.reviewBody

  p Welcome to your Project Skeleton
